name: Rust check

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/**'
      - 'Cargo.toml'
      - 'Cargo.lock'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'src/**'
      - 'Cargo.toml'
      - 'Cargo.lock'
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Format check
      run: cargo fmt --check
      
  build:
    strategy:
      matrix:
        version: [13]
        os: ["ubuntu-latest"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up pgrx
      run: |
        cargo install cargo-pgrx --version "0.8.0"
        cargo pgrx init --pg${{ matrix.version }}=download
    - name: Build
      run: cargo build --verbose
    - name: Semantic check
      run: cargo clippy
    - name: Test
      env:
        RUST_BACKTRACE: 1
      run: cargo test --all --no-default-features --features "pg${{ matrix.version }} pg_test" -- --nocapture
