name: Nightly

on:
  schedule:
    # 00:00 UTC+8 -> 16:00
    - cron: "0 16 * * *"
  workflow_dispatch:

permissions:
  actions: write

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - run: |
          commit_date=$(git log -1 --since="24 hours ago" --pretty=format:"%cI")
          if [[ -n "$commit_date" ]]; then
            if $(gh release view nightly); then
              gh release edit nightly --target main
            else
              gh release create nightly --generate-notes --prerelease
            fi
          fi
        env:
          GH_TOKEN: ${{ github.token }}
